		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
                        color: #0a4c00;
			font-family: calibri;
                        
		}
		body
		{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			width: 100vw;
                        text-align: center;
                        
		}
		.container
		{
			text-align: center;
			position: relative;
			width:350px;
			border-bottom: 10px solid black;
			border-top: 10px solid black;
			border-radius: 80px 80px;
			padding: 20px;
                        
		}
                @media only screen and (max-width: 768px) 
                {
                    .container 
                    {
                      
                      text-align: center;
			position: relative;
			width:310px;
                        height:500px;
			border-bottom: 10px solid black;
			border-top: 10px solid black;
			border-radius: 80px 80px;
			padding: 20px;
                    }
                }
                @media only screen and (max-width: 500px) 
                {
                    .container {
                        text-align: center;
			position: relative;
			width:310px;
                        height:350px;
			border-bottom: 10px solid black;
			border-top: 10px solid black;
			border-radius: 80px 80px;
			padding: 10px;
                        padding-top: 0%;
                        margin-top:0%;
                       
                    }
                   body
                   {
                       margin: 0%;
                   }
                    img{
                        visibility: hidden;
                        margin: 0
                    }
                    input, button{
                        margin-top: -20%;
                    }
                    .label
                    {
                        margin-top: -30%;
                        padding: 10px;
                    }
                    .fs{
                         margin-bottom: -5px;
                          margin-top: -10%;
                          padding: 10px;
                    }
                    .acc
                    {
                        margin-bottom: -5px;
                        margin-top: -5%;
                        padding: 10px;
                    }
                    
                }
		input, button
		{
			width: 100%;
			border: 0;
			border-radius: 20px;
		}
		input
		{
			border-bottom: 2px solid #444;
			padding: 12px 40px 12px 20px;
		}
		input, button, .group i, p, a
		{
			font-size: 13.3333px;
			font-weight: 600;
                        
		}
		.group
		{
			margin-bottom:  10px;
			position: relative;
		}
		.group i
		{
			position: absolute;
			top: 15px;
			right: 20px;
		}
		#sub
		{
			padding: 12px;
			background-image: linear-gradient(to right, cyan, blue);
			margin-bottom: 20px;
			cursor: pointer;
			border-bottom: 2px solid #444;
		}
		#sub, #sub i
		{
			color: #fff;
		}
		#sub i
		{
			margin-right: 5px;
		}
		p
		{
			margin-bottom: 20px; 
		}
		i.fa.fa-empire, a
		{
			color: blue;
                        text-decoration: none;
		}
                i.fa.fa-empire:hover, a:hover
		{
			color: maroon;
                        
		}
		i.img-logo img
		{
			font-size: 60px;
			margin-bottom: 20px;
                        border: 3px solid black;
                        border-radius: 70px 70px 70px 70px;
			margin-left: 0%;
			top: 0%;
			height: 100px;
                        
		}
		i.img-user img
		{
			font-size: 60px;
			margin-bottom: 20px;
			margin-left: 0%;
			top: 0%;
			height: 20px;
		}
		i.img-pass img
		{
			font-size: 60px;
			margin-bottom: 20px;
			margin-left: 0%;
			top: 0%;
			height: 20px;
		}
		i.img-login img
		{
			margin-left: 0%;
			height: 15px;
			width: 25px;
			position: absolute;
			top: 0px;
			right: 150px;
		}
		.label
		{
			color: black;
                        font-family: arial black    ;
		}
                #modalClose
                {
                    margin-left: 70%;
                }
                #ButtonFM
                {
                     margin-left: 65%;
                     width: 100px;
                }
                .modal-header
                {		
                    color: red;
                }
		input:focus, input:focus::placeholder, input:focus+i
		{
			color: darkblue;
			font-family: sans-serif;
			font-style: bold;
		}
		input:focus, button:focus
		{
			outline: 0;
		}
		body:before, body:after
		{
			content: "";
			position: absolute;
			height: 300px;
			width: 500px;
		}
		body:before
		{
			background-image: linear-gradient(to right, cyan, blue);
			bottom: 0;
			left: 0;
			clip-path: polygon(0 0, 0 100%, 100% 100%);
		}
		body:after
		{
			background-image: linear-gradient(to right, blue, cyan);
			top: 0;
			right: 0;
			clip-path: polygon(100% 0, 0 0, 100% 100%);
		}
		@media (max-width: 767px)
		{
				body:before, body:after
				{
					height: 150px;
					width: 300px;
				}
		}
               .fs
               {
                   margin-top: -8%;
                   padding: 10px;
               }
               .acc
               {
                    margin-top: -8%;
               }
              #sacc
               {
                   width: 300px;
                   border: none;
                   border-bottom: 2px solid black;
                   border-radius: 50px 50px 50px 50px;
                   height: 40px;
                   text-align-last:center; 
               }